<?xml version="1.0"?>
<model>
  <name>roboboat_color_indicator_buoy_red</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Nelson Durrant</name>
    <email>snelsond@byu.edu</email>
  </author>
  <description>
    RoboBoat color indicator buoy (red).
  </description>
</model>
