<?xml version="1.0"?>
<!--
 Copyright 2026 BYU FROST Lab

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="xyz_noise" params="stddev">
    <xacro:macro name="axis_noise">
      <noise type="gaussian">
        <mean>0.0</mean>
        <stddev>${stddev}</stddev>
      </noise>
    </xacro:macro>
    <x>
      <xacro:axis_noise />
    </x>
    <y>
      <xacro:axis_noise />
    </y>
    <z>
      <xacro:axis_noise />
    </z>
  </xacro:macro>

  <!-- Plugins -->
  <xacro:macro name="truth_odometry" params="base_frame">
    <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
      <dimensions>3</dimensions>
      <odom_publish_frequency>60</odom_publish_frequency>
      <odom_topic>/${agent_ns}/odometry/truth</odom_topic>
      <odom_frame>map</odom_frame>
      <robot_base_frame>${base_frame}</robot_base_frame>
    </plugin>
  </xacro:macro>

  <xacro:macro name="camera_odometry" params="camera_frame xyz rpy">
    <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
      <dimensions>3</dimensions>
      <odom_publish_frequency>60</odom_publish_frequency>
      <odom_topic>/${agent_ns}/camera/odom</odom_topic>
      <odom_covariance_topic>/${agent_ns}/camera/odom_with_covariance</odom_covariance_topic>
      <gaussian_noise>0.01</gaussian_noise>
      <xyz_offset>${xyz}</xyz_offset>
      <rpy_offset>${rpy}</rpy_offset>
      <odom_frame>${agent_ns}/odom</odom_frame>
      <robot_base_frame>${camera_frame}</robot_base_frame>
    </plugin>
  </xacro:macro>

  <!-- Sensors -->
  <xacro:macro name="imu_sensors" params="link">
    <gazebo reference="${link}">
      <sensor name="imu" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <topic>/${agent_ns}/camera/imu/data_raw</topic>
        <gz_frame_id>${link}</gz_frame_id>
        <imu>
          <enable_orientation>false</enable_orientation>
          <!-- 0.007 °/s/√Hz * √100 Hz -> 1.2e-3 rad/s
            0.0016 m/s^2/√Hz * √100 Hz -> 1.6e-2 m/s^2
            https://github.com/stereolabs/zed-sdk/issues/487
            https://github.com/stereolabs/zed-ros2-wrapper/blob/v5.4.1/zed_wrapper/config/common_stereo.yaml -->
          <angular_velocity>
            <xacro:xyz_noise stddev="1.2e-3" />
          </angular_velocity>
          <linear_acceleration>
            <xacro:xyz_noise stddev="1.6e-2" />
          </linear_acceleration>
        </imu>
      </sensor>

      <sensor name="magnetometer" type="magnetometer">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <topic>/${agent_ns}/camera/imu/mag</topic>
        <gz_frame_id>${link}</gz_frame_id>
        <magnetometer>
          <!-- https://support.sbg-systems.com/sc/el/latest/ellipse-documentation/hardware-documentation/aiding-sensors -->
          <xacro:xyz_noise stddev="3.0e-7" />
        </magnetometer>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="gps_sensor" params="link">
    <gazebo reference="${link}">
      <sensor name="gps" type="navsat">
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <topic>/${agent_ns}/gps/fix</topic>
        <gz_frame_id>${link}</gz_frame_id>
        <navsat>
          <!-- https://content.u-blox.com/sites/default/files/documents/ZED-F9P-01B_DataSheet_UBX-17051259.pdf -->
          <position_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <!-- Lat/lon degrees, not meters -->
                <stddev>1.35e-7</stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.025</stddev>
              </noise>
            </vertical>
          </position_sensing>
        </navsat>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="depth_camera_sensor" params="link">
    <gazebo reference="${link}">
      <sensor name="depth_camera" type="rgbd_camera">
        <always_on>true</always_on>
        <!-- <update_rate>60</update_rate> -->
        <update_rate>20</update_rate>
        <topic>/${agent_ns}/camera/depth</topic>
        <gz_frame_id>${link}</gz_frame_id>
        <camera>
          <!-- https://www.stereolabs.com/en-us/products/zed-2i
            https://github.com/stereolabs/zed-ros2-wrapper/blob/v5.4.1/zed_wrapper/config/zed2i.yaml
            https://github.com/stereolabs/zed-ros2-wrapper/blob/v5.4.1/zed_wrapper/config/common_stereo.yaml
            https://support.stereolabs.com/articles/9175329825 -->
          <horizontal_fov>${radians(110)}</horizontal_fov>
          <!-- <horizontal_fov>${radians(68)}</horizontal_fov> -->
          <image>
            <!-- <width>1280</width>
              <height>720</height> -->
            <width>640</width>
            <height>360</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100.0</far>
          </clip>
          <depth_camera>
            <clip>
              <near>0.3</near>
              <!-- <near>1.5</near> -->
              <far>15.0</far>
            </clip>
          </depth_camera>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
