<?xml version="1.0"?>
<!--
 Copyright 2026 BYU FROST Lab

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<sdf xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="aruco_tag" params="id pose height:=1.0">
    <model name="aruco_${id}">
      <static>true</static>
      <pose>${pose}</pose>
      <link name="link">
        <visual name="tag_visual">
          <pose>0 0 ${height} 0 0 0</pose>
          <geometry>
            <mesh>
              <uri>$(find coug_gazebo)/models/urc_aruco_${id}/meshes/urc_aruco_${id}.dae</uri>
            </mesh>
          </geometry>
        </visual>
        <visual name="post_visual">
          <pose>0 0 ${(height - 0.5) / 2} 0 0 0</pose>
          <geometry>
            <cylinder>
              <radius>0.02</radius>
              <length>${height + 0.5}</length>
            </cylinder>
          </geometry>
        </visual>
      </link>
    </model>
  </xacro:macro>
</sdf>
