<?xml version="1.0"?>
<!--
 Copyright 2026 BYU FROST Lab

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<sdf version="1.9" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="headless" default="true" />

  <xacro:include filename="world_common.xacro" />

  <world name="default">
    <xacro:world_systems headless="$(arg headless)" />
    <xacro:world_origin latitude="38.406" longitude="-110.792" elevation="1373.153" />
    <xacro:sun />
    <scene>
      <sky />
    </scene>
    <xacro:heightmap_physics />

    <xacro:heightmap_terrain name="mdrs_terrain" dir="$(find coug_gazebo)/models/urc/mdrs_terrain" size="2000.00 2000.00 71.30" z="-13.67" />

    <xacro:urc_aruco_w_post id="0" pose="-19.35 -28.73 -1.79 0 0 -1.63" />
    <xacro:urc_aruco_w_post id="1" pose="-68.70 -81.00 3.88 0 0 -2.77" />
    <xacro:urc_aruco_w_post id="2" pose="-152.70 -96.80 11.94 0 0 2.81" />
    <xacro:urc_aruco_w_post id="3" pose="-211.40 -182.70 17.66 0 0 0.52" />
    <xacro:urc_aruco_w_post id="4" pose="-76.30 -214.60 -0.94 0 0 0.54" />
    <xacro:urc_aruco_w_post id="5" pose="-257.30 -246.20 14.70 0 0 -1.75" />
    <xacro:urc_aruco_w_post id="6" pose="-158.60 -294.80 13.33 0 0 -2.30" />

    <xacro:include filename="mdrs_boulder_field.xacro" />
  </world>
</sdf>
