<?xml version="1.0"?>
<model>
  <name>roboboat_surmark_950410_red</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Nelson Durrant</name>
    <email>snelsond@byu.edu</email>
  </author>
  <description>
    RoboBoat Sur-Mark 950410 buoy (red). Mesh by Ng Xing Yu (CC-BY-4.0).
  </description>
</model>
