<?xml version="1.0"?>
<model>
  <name>urc_aruco_5_w_post</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Nelson Durrant</name>
    <email>snelsond@byu.edu</email>
  </author>
  <description>
    URC ArUco marker (DICT_4X4_50 ID 5) on a 0.5-1.5 m post.
  </description>
</model>
